@import url('https://fonts.googleapis.com/css?family=Raleway');

$fontRaleway: 'Raleway', sans-serif;

@mixin font($color, $font-size, $line-height, $font-family, $font-weight) {
  color: $color;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  font-family: $font-family;
}
